@import '../../Colors.scss';

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;

    &__input-box {
        margin-top: 15px;
        display: flex;
        text-align: center;
        align-items: center;
        width: 80vw;
        border: 2px solid $dark-blue;
        border-radius: .4em;
        padding: 2% 4%;
    }

        &__input{
                width: 90%;
                font-family: "Patrick Hand", cursive;
                border: none;
                background-color: $light-blue;
                color: $dark-blue;
                font-size: 1.2em;
            }

            &__input::placeholder {
                color: $dark-blue;
            }
        
            &__input:focus {
                border: none;
                outline: none;
            }

        &__icon-box {
            width: 10%;      
        }

            &__icon {
                font-size: 1em;
                color: $grey;
            }
    
    

        &__text {
            font-size: .8em;
            color: $grey;
        }

    &__submit-box {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 20px;
    }

    &__submit {
        width: 80vw;
        border: 2px solid black;
        background: $dark-blue;
        color: $white;
        outline: none;
        border-radius: .4em;
        font-family: "Patrick Hand", cursive;
        padding: 2%;
        font-size: 1.4em;
        cursor: pointer;
    }
}

.clickable {
    cursor: pointer;
}