@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import './Colors.scss';

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    color: $dark-blue;
    background: linear-gradient(0deg, rgba(4,139,168,1) 77%, rgba(169,240,255,1) 100%);
    font-family: "Patrick Hand", cursive;
}